body{
    margin: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(to right, #b6c0c0, #aa95ac);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.slider{
    width: 75%;
    height:70vh;
    position: relative;
}

.slider .slide img{
    width: 100%;
    height:70vh;
    object-fit: cover;
    border-radius: 15px;
    overflow: hidden;
}
.slider .slide .overlay{
    position: absolute; 
    background: rgba(57, 57, 57, 0.5);
    left: 0;
    bottom: 0;
    width: 100%;
    border-bottom-left-radius: 15px ;
    border-bottom-right-radius: 15px ;
    height:40%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.slider .slide .overlay h3, h4, p{
    padding-left: 2rem;
    margin: 0;
    color: white;
}
.slider .button{
    position: absolute;
    top:50%;
    left:0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.slider .button a{
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    vertical-align: middle;
    align-items: center;
    cursor: pointer;
    color: white;
    background: rgba(0, 0, 0, 0.8);
    font-size: 20px;
    border-radius: 50%;
}

.slider .button .prev{
    margin-left: 10px;
}

.slider .button .next{
    margin-right: 10px;
}

.button-2{
    width:70%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
    padding-top: 2rem;
}

.button-2 button{
    width: 150px;
    height: 40px;
    background-color: #2a142c;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}