body{
    background-image: url('images/gamebackGround.jpg');
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

}

canvas{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}
#collisionCanvas{
    opacity: 0;
}