body{
    margin: 0;
    padding: 0;
    font-family: fantasy;
}

#container {
    position: relative;
    width: 100%;
    height: 100vh;
}

.cursor{
    width: 50px;
    height: 50px;
    position: absolute;
    transform: translate(-50%, -50%);
}
.hidden{
    display: none;
}

#start-screen {
    width: 100%;
    height: 100vh;
    background: url('images/duck.jpg');
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}

#start-screen img{
    position: absolute;
    top: 20px;
    left: 40px;
    width: 80px;
    height: 80px;
    cursor: pointer;
}

#start-screen button{
    position: absolute;
    top: 45%;
    left:45%;
    width: 10%;
    height: 10%;
    border: none;
    color: white;
    font-size: 2rem;
    background-color: rgb(17, 230, 10);
    box-shadow: 8px 8px 5px black;
    cursor: pointer;
}

#name-screen{
    width: 90%;
    height: 90vh;
    background-color: rgba(57, 57, 57, 0.8);
    position: absolute;
    top: 5%;
    left: 5%;
    align-items: center;
    justify-content: center;
}

#name-screen #name-box{
    width: 350px;
    height: 500px;
    background-color: rgb(10, 153, 153);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    flex-direction: column;
}

#name-screen #name-box label{
    color: white;
    font-size: 30px;
}

#name-screen #name-box input{

    width: 200px;
    height: 25px;

}

#name-screen #name-box #name-btn{
    width: 30%;
    position: static;
}

#name-screen #name-box #close-btn{
    position: absolute;
    top:3%;
    left: 62%;
    width: 50px;
    height: 50px;
    background-color: rgb(172, 50, 50);
}
#name-screen #name-box .level{ 
    display: flex;
    align-items: center;
}
#name-screen #name-box .level input{
    width: 30px;
    height: 20px;
}
#name-screen #name-box .level label{
    font-size: 20px;
}
#game-screen{
    width: 100%;
    height: 100vh;
    background: url('images/gamebackGround.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100vh;
    overflow: hidden;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    font-weight: 800;
    cursor: none;
}

#game-screen #greeting-screen{
    position: absolute;
    top: 25%;
    left: 35%;
    width: 30%;
    height: 50%;
    background-color: white;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(85, 85, 85);
    box-shadow: 5px 5px 10px rgb(85, 85, 85), -5px -5px 10px rgb(85, 85, 85);
    gap: 5px;
    z-index: 100;

}

#game-screen #greeting-screen img{
    display: block;
    width: 50%;
    height: 40%;
}
#game-screen #greeting-screen h3{
    text-align: center;
    margin: 0;
}

#game-screen #greeting-screen button{
    margin-top: 15px;
    width: 80px;
    height: 40px;
    color: white;
    background-color: rgb(57, 124, 211);
    border: none;
    border-radius: 10px;
    cursor: pointer;

}

#game-screen .game #score {
    position: absolute;
    width: 150px;
    height: 30px;
    top: 5%;
    left: 5%;
    background-color: rgba(248, 243, 243, 0.774);
    box-shadow: 5px 5px 5px rgb(17, 230, 10), -5px -5px 5px rgb(17, 230, 10);
    color: brown;
    text-align: center;
}


.bird {
    display: block;
    position: absolute;
    transform: translateX(-50%);
    transition: all 1s;
}

.explosion {
    display: block;
    position: absolute;
    width: 100px;
    height: 100px;
}


